

body{
    background-color: #272727;
    font-family: 'Times New Roman', Times, serif;
    
}
.background {
    opacity: 0.5;
}


h1{
color: #ffbf00c4;

}


.header{
    background: #2e2e2e;
    background-size: 500px 400px;
    text-align: center;
    margin-top: 0px;
    height: 100px;
    opacity: 1;
    
}
.flex {
    display: flex;
}

* {
    box-sizing: border-box;
  }
  .section {
    float:left
  }

  input, textarea {
    background-color: #12120fc4;
    }

  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(37, 79, 195, 0.038);
    margin-top: 3px;
    margin-bottom: 16px;
    resize: vertical;
  }
 

  input[type=submit] {
    background-color: #27251ec4;
    color: #ffbf00c4;
    padding: 12px 20px;
    border: solid grey;
    cursor: pointer;
    float: right;
  }
  .sidebar {
    font-size: large;

  }



  footer {
    background-color: #4a4d4a;
    opacity: 1; 
    border-color:#ffbf00c4;
    border: solid #ffbf00c4;
    padding-bottom: 10px;
    
  }

a:link {
    color:#ffbf00c4;
    text-decoration: double;
}
  a:hover {
    color: rgb(239, 200, 0);
    text-transform: capitalize;
    text-decoration: underline;
  }

  a:visited{
    text-decoration: none;
    color: #ffbf00c4;

  }
  
  input[type=submit]:hover {
    background-color: #4a4d4a;
  }
  
  .container {
    border-radius: 3px;
    background: #2e2e2e;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 2px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    } 
  }