body{
    background-color: #272727;
    font-family: 'Times New Roman', Times, serif;
    color:#ffbf00c4;
}
h1{
color: #ffbf00c4;

}

.header{
    background: #2e2e2e;
    background-size: 500px 400px;
    text-align: center;
    margin-top: 0px;
    height: 100px;
    
}