.intro
{background-image:url();
    background-color: #2e2e2e;
    height: 100%;
    width: 100%;
}
.Style{display: flex;}
.flex{
    display: flex;
    
}
h2{
    text-align: center;
    color: #ffbf00c4;
    background-color: #2e2e2e81;
    
}